<!-- Main Landing -->
<section class="mx-auto max-w-screen-2xl snap-start">
  <section class="relative transform duration-500 sm:px-10 md:p-0">
    <img
      class="grayscale xl:max-h-screen xl:max-w-6xl"
      src="assets/img/Photographs/anupam_landing.jpg"
      alt="Profile Picture"
    />
    <!-- card -->
    <div
      class="content lg:border-1 animCharacteristics top-48 right-5 w-full p-2 text-center lg:absolute lg:mr-20 lg:max-w-lg lg:bg-gray-50 lg:p-12 lg:pt-8 lg:pb-12 lg:text-justify lg:shadow-2xl"
    >
      <h2
        class="my-auto mt-4 text-4xl font-normal tracking-tighter text-gray-800 sm:text-6xl sm:font-light lg:mt-12"
      >
        Anupam <span class="font-bold text-black">Asok</span>
      </h2>
      <p
        class="my-1 text-center font-medium leading-relaxed tracking-wide text-gray-600 lg:text-justify"
      >
        Software Engineer
        <span class="font-normal">.</span>
        <span class="font-light"> Photographer</span>
      </p>
      <div class="inline-flex space-x-3 text-xl text-gray-500">
        <a
          href="https://github.com/anupamasok"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ion-icon name="logo-github" class="landingCardIcon"></ion-icon>
        </a>
        <a
          href="mailto: anupamasokofficial@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ion-icon name="mail-open" class="landingCardIcon"></ion-icon>
        </a>
        <a
          href="http://www.instagram.com/anupam.asok/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ion-icon name="logo-instagram" class="landingCardIcon"></ion-icon>
        </a>
        <a
          href="https://www.linkedin.com/in/anupamasok/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ion-icon name="logo-linkedin" class="landingCardIcon"></ion-icon>
        </a>
      </div>
    </div>
  </section>
</section>
