<!-- About me -->
<section class="sectionOuter body-font snap-start text-gray-600">
  <div class="mx-auto flex h-full flex-col content-center items-center justify-center md:px-5 md:py-8 lg:py-24">
    <div class="mb-10 hidden w-2/6 sm:block md:w-2/6 lg:w-1/6">
      <div class="relative">
        <img class="profilePic" width="500" height="600" alt="hero" src="assets/img/propic.jpg"/>
      </div>
    </div>
    <div class="w-full text-center lg:w-2/3">
      <section class="body-font text-gray-600">
        <div class="container mx-auto md:px-5">
          <div class="mx-auto w-full text-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="mb-8 inline-block h-8 w-8 text-gray-300" viewbox="0 0 975.036 975.036">
              < d="m925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zm106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"/>
            </svg>
            <p class="text-md leading-relaxed sm:text-lg">
              I am a software developer from Kerala, India, with three years of application development experience. As a senior programmer, I am well-versed in software development and strive for excellence in every task I undertake.
              <br/>
              I am passionate about simplicity and quality, which I believe are crucial for delivering successful projects. As a team player, hard worker, and fast learner, I am always eager to collaborate and expand my skill set.
              <br/>
              <br/>
              At the heart of my work philosophy is the conviction that
              <em>a job well done is worthwhile</em>. With this mindset, I strive to consistently deliver exceptional results and exceed expectations.
            </p>
            <span class="mt-8 mb-6 inline-block h-1 w-10 rounded bg-gray-800"></span>
            <!-- <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">HOLDEN CAULFIELD</h2> <p class="text-gray-500">Senior Product Designer</p> -->
          </div>
        </div>
      </section>
    </div>
  </div>
</section>