<!-- connect -->
<section class="sectionOuter mx-auto my-10 max-w-screen-xl snap-start">
  <div class="order-first flex flex-wrap text-center xl:text-left">
    <div class="my-auto w-full items-center px-4 xl:w-6/12 xl:w-1/2">
      <h2
        class="mb-3 w-full text-6xl tracking-tighter text-gray-800 max-sm:text-4xl sm:text-7xl sm:font-bold xl:font-normal"
      >
        Come Say Hello :D
      </h2>
      <h4 class="text-md font-light md:text-xl">
        Connect with me on social media
        <ion-icon
          name="arrow-forward-circle"
          class="translate-y-1 text-gray-500"
        ></ion-icon>
      </h4>
    </div>
    <div
      class="my-auto mx-auto mt-10 w-full sm:mt-0 sm:w-11/12 sm:px-4 sm:py-20 md:px-20 xl:ml-auto xl:w-6/12 xl:w-1/2 xl:px-0 xl:py-0"
    >
      <div
        class="grid-col my-auto mx-auto grid w-8/12 grid-flow-row grid-cols-2 gap-4"
      >
        <a
          class="socialIconSize hoverConnectIcon mx-auto inline-flex"
          href="https://www.linkedin.com/in/anupamasok/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ion-icon name="logo-linkedin" class="socialInnerIconSize"></ion-icon>
        </a>
        <a
          class="socialIconSize hoverConnectIcon mx-auto inline-flex"
          href="https://facebook.com/anupam.asok.9"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ion-icon name="logo-facebook" class="socialInnerIconSize"></ion-icon>
        </a>
      </div>
      <div
        class="grid-col w-12/12 my-auto mx-auto grid grid-flow-row grid-cols-3 gap-4"
      >
        <a
          class="socialIconSize hoverConnectIcon mx-auto inline-flex"
          href="https://www.instagram.com/anupam.asok/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ion-icon
            name="logo-instagram"
            class="socialInnerIconSize"
          ></ion-icon>
        </a>
        <a
          class="socialIconSize hoverConnectIcon mx-auto inline-flex"
          href="https://github.com/anupamasok"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ion-icon name="logo-github" class="socialInnerIconSize"></ion-icon>
        </a>
        <a
          class="socialIconSize hoverConnectIcon mx-auto inline-flex"
          href="https://twitter.com/asokanupam"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ion-icon name="logo-twitter" class="socialInnerIconSize"></ion-icon>
        </a>
      </div>
      <div
        class="grid-col my-auto mx-auto grid w-8/12 grid-flow-row grid-cols-2 gap-4"
      >
        <a
          class="socialIconSize hoverConnectIcon mx-auto inline-flex"
          href="mailto: anupamasokofficial@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ion-icon name="mail" class="socialInnerIconSize"></ion-icon>
        </a>
        <a
          class="socialIconSize hoverConnectIcon mx-auto inline-flex"
          href="https://facebook.com/anupam.asok.9"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ion-icon name="logo-youtube" class="socialInnerIconSize"></ion-icon>
        </a>
      </div>
      <div
        class="grid-col my-auto mx-auto grid w-8/12 grid-flow-row grid-cols-1 gap-4"
      >
        <a
          class="socialIconSize hoverConnectIcon mx-auto inline-flex"
          href="https://dribbble.com/anupamasok"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ion-icon name="logo-dribbble" class="socialInnerIconSize"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</section>
