<!-- Photography -->
{% import 'sections/macro.njk' as macro %}
<section class="sectionOuter snap-start">
  {{
    macro.titleQuote(
      "Photography",
      "You don't create a photograph, you make it.",
      "Ansel Adams"
    )
  }}
  <div class="mx-auto max-w-6xl">
    <div class="mb-4 sm:mb-5"></div>
    <div class="w-full sm:px-10 sm:py-10">
      <section class="body-font text-gray-600">
        <div class="mx-auto flex flex-wrap sm:px-5">
          <div class="mb-10 flex w-full flex-wrap sm:mb-20">
            <h1
              class="title-font mb-4 text-2xl font-medium text-gray-900 sm:text-3xl lg:mb-0 lg:w-1/3"
            >
              I am passionate about photography
            </h1>
            <div class="mx-auto text-base sm:leading-relaxed lg:w-2/3 lg:pl-6">
              <p class="text-justify">
                Photography has been a part of my life for over eight years, and
                during that time, it has inspired me to see the world
                differently. I am constantly on the lookout for new frames that
                capture the beauty around me,whether it be in my travels or
                through the lens of my camera. Through my experimentation with
                photography and image editing, I have developed a deeper
                understanding of colors and the emotions they evoke. Every time
                I pick up my camera, I am filled with a sense of excitement and
                anticipation for the new perspectives and insights that await
                me. Photography is not just a passion, it is a way of life that
                has transformed the way I see and experience the world.
              </p>
            </div>
          </div>
          <div class="-m-1 flex select-none flex-wrap md:-m-2">
            <div class="flex w-full flex-wrap sm:w-1/2">
              <div class="w-1/2 p-1 md:p-2">
                <img
                  alt="gallery"
                  class="galleryImage"
                  height=""
                  width=""
                  src="assets/img/Photographs/div_laugh.jpg"
                />
              </div>
              <div class="w-1/2 p-1 md:p-2">
                <img
                  alt="gallery"
                  class="galleryImage"
                  height=""
                  width=""
                  src="assets/img/Photographs/cat_sleep.jpg"
                />
              </div>
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="galleryImage"
                  height=""
                  width=""
                  src="assets/img/Photographs/js_hampi.jpg"
                />
              </div>
            </div>
            <div class="flex w-full select-none flex-wrap sm:w-1/2">
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="galleryImage"
                  height=""
                  width=""
                  src="assets/img/Photographs/manali_mount.jpg"
                />
              </div>
              <div class="w-1/2 p-1 md:p-2">
                <img
                  alt="gallery"
                  class="galleryImage"
                  height=""
                  width=""
                  src="assets/img/Photographs/flower_green.jpg"
                />
              </div>
              <div class="w-1/2 p-1 md:p-2">
                <img
                  alt="gallery"
                  class="galleryImage"
                  height=""
                  width=""
                  src="assets/img/Photographs/js_idukki.jpg"
                />
              </div>
            </div>
          </div>
          <a
            href="https://www.instagram.com/anupam.asok/"
            target="_blank"
            rel="noopener noreferrer"
            class="longButton mt-4 flex-shrink-0 lg:mt-10"
          >
            Follow me on Instagram
            <ion-icon
              name="logo-instagram"
              class="translate-y-1 pl-1 text-lg sm:text-2xl"
            ></ion-icon>
          </a>
        </div>
      </section>
    </div>
  </div>
</section>
