<!-- Skills -->
<section class="sectionOuter snap-start">
  <div class="mx-auto mb-10 max-w-6xl">
    <div class="mb-4 text-center sm:mb-5">
      <h1 class="sectionTitle">Technical Skills</h1>
      <p class="pt-2">
        "When love and skill work together, expect a masterpiece." -
        <a class="font-light">John Ruskin</a>
      </p>
    </div>
    <div class="w-full px-5 sm:px-10 sm:py-10">
      <!-- Skill set -->
      <!-- Languages -->
      <div class="mx-auto sm:w-4/6">
        <hr class="mb-5 sm:ml-5"/>
        <h1 class="skillTitle">Languages</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-4 sm:py-2">
          <div>
            <div class="skillItem">
              <p>Golang</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>
              </div>
            </div>

            <div class="skillItem">
              <p>C / C++</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>

            <div class="skillItem">
              <p>Python</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="skillItem">
              <p>Bash Scripting</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>

            <div class="skillItem">
              <p>Tcl</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- separation -->
      <div class="mb-5"></div>

      <!-- Skill set -->
      <!-- tools -->
      <div class="mx-auto sm:w-4/6">
        <hr class="mb-5 sm:ml-5"/>
        <h1 class="skillTitle">Tools and Frameworks</h1>
        <div class="grid grid-cols-1 gap-0 sm:grid-cols-2 sm:gap-4 sm:py-2">
          <div>
            <div class="skillItem">
              <p>Git</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>
              </div>
            </div>

            <div class="skillItem">
              <p>Visual Studio Code</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>
              </div>
            </div>

            <div class="skillItem">
              <p>Vim</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>

            <div class="skillItem">
              <p>Haproxy(LB)</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>

            <div class="skillItem">
              <p>Pprof(Go)</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="skillItem">
              <p>Delve (Go)</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>

            <div class="skillItem">
              <p>Consul</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>

            <div class="skillItem">
              <p>Confd</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>

            <div class="skillItem">
              <p>Kubernetes</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>

            <div class="skillItem">
              <p>Docker</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- separation -->
      <div class="mb-5"></div>

      <!-- Skill set -->
      <!-- web dev -->
      <div class="mx-auto sm:w-4/6">
        <hr class="mb-5 sm:ml-5"/>
        <h1 class="skillTitle">Web Development</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-4 sm:py-2">
          <div>
            <div class="skillItem">
              <p>Bootstrap</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>

            <div class="skillItem">
              <p>Tailwind CSS</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="skillItem">
              <p>Django</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>

            <div class="skillItem">
              <p>React</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- separation -->
      <div class="mb-5"></div>

      <!-- Skill set -->
      <!-- Operating Systems -->
      <div class="mx-auto sm:w-4/6">
        <hr class="mb-5 sm:ml-5"/>
        <h1 class="skillTitle">Operating Systems</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-4 sm:py-2">
          <div>
            <div class="skillItem">
              <p>Linux</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>
              </div>
            </div>

            <div class="skillItem">
              <p>Windows</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="skillItem">
              <p>Mac</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- separation -->
      <div class="mb-5"></div>

      <!-- Skill set -->
      <!-- Operating Systems -->
      <div class="mx-auto sm:w-4/6">
        <hr class="mb-5 sm:ml-5"/>
        <h1 class="skillTitle">Graphics and Design</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-4 sm:py-2">
          <div>
            <div class="skillItem">
              <p>Adobe Photoshop</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>
              </div>
            </div>

            <div class="skillItem">
              <p>Adobe Lightroom</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>
              </div>
            </div>

            <div class="skillItem">
              <p>Adobe Premier Pro</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="skillItem">
              <p>Adobe XD</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>

            <div class="skillItem">
              <p>Adobe After Effects</p>
              <div class="skillStarsGroup">
                <div class="skillStars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>