<!-- Skills -->
{% import 'sections/macro.njk' as macro %}
<section class="sectionOuter snap-start">
  <div class="mx-auto mb-10 max-w-6xl">
    {{
    macro.titleQuote(
    "Technical Skills",
    "When love and skill work together, expect a masterpiece.",
    "John Ruskin"
    )
    }}
    <div class="w-full px-5 py-4 max-sm:px-2 lg:px-10 lg:py-10">
      <!-- Skill set -->
      <!-- Languages -->
      {% set langSkills = {
      'Golang': '5',
      'Shell': '5',
      'Python': '4',
      'C / C++': '3',
      'tcl': '3'
      } %}
      {{ macro.skillSection('Programming Languages', '<ion-icon name="code-slash-outline"></ion-icon>', langSkills) }}

      <!-- separation -->
      <div class="mb-5"></div>

      <!-- Skill set -->
      <!-- Tools -->
      {% set toolSkills = {
      'Kubernetes': '5',
      'Prometheus': '5',
      'Grafana': '5',
      'Git': '5',
      'AWX': '5',
      'Bashly': '5',
      'VMware  vCenter': '4',
      'Pprof (Go)': '4',
      'Thanos': '4',
      'Ansible': '4',
      'Tmux': '4',
      'Docker': '4',
      'Vela (CICD)': '4',
      'Delve (Go)': '3',
      'Confd': '3',
      'Consul': '3',
      'Haproxy (LB)': '3',
      'Make': '3',
      'Vim': '3',
      'Cloud Init': '3'
      } %}
      {{ macro.skillSection('Tools and Frameworks', '<ion-icon name="construct-outline"></ion-icon>', toolSkills) }}

      <!-- separation -->
      <div class="mb-5"></div>

      <!-- Skill set -->
      <!-- Web Dev -->
      {% set k8sSkills = {
      'Kustomize': '5',
      'Kubectl': '5',
      'Helm': '4',
      'Kubeadm': '3',
      'K9S': '5',
      'K3S': '3'
      } %}
      {{ macro.skillSection('Kubernetes Tools', '<ion-icon name="cloud-circle-outline"></ion-icon>', k8sSkills) }}

      <!-- separation -->
      <div class="mb-5"></div>

      <!-- Skill set -->
      <!-- Web Dev -->
      {% set webSkills = {
      'Tailwind CSS': '4',
      'Bootstrap': '4',
      'Django': '3',
      'React': '2'
      } %}
      {{ macro.skillSection('Web Development', '<ion-icon name="logo-react"></ion-icon>', webSkills) }}

      <!-- separation -->
      <div class="mb-5"></div>

      <!-- Skill set -->
      <!-- Operating Systems -->
      {% set osSkills = {
      'Linux': '5',
      'Mac': '5',
      'Windows': '4'
      } %}
      {{ macro.skillSection('Operating Systems', '<ion-icon name="desktop-outline"></ion-icon>', osSkills) }}

      <!-- separation -->
      <div class="mb-5"></div>

      {# <!-- Skill set -->
      <!-- Graphic Design -->
      {% set graphicsSkills = {
      'Adobe Photoshop': '5',
      'Adobe Lightroom': '5',
      'Adobe Premier Pro': '4',
      'Adobe XD': '3',
      'Adobe After Effects': '3'
      } %}
      {{ macro.skillSection('Graphics and Design', '<ion-icon name="images-outline"></ion-icon>', graphicsSkills) }} #}
    </div>
  </div>
</section>