<ul class="experience-text list-disc">
  <li>
    As a key member of the cloud and compute team, I am responsible for maintaining the platform infrastructure that powers applications across more than 1900 store locations in the United States.
  </li>
  <li>
    In a leadership role, I successfully oversaw the virtual image rollout in the target Distribution centers, streamlining the previous 1.5-month process to just two weeks. This remarkable efficiency boost was achieved through the implementation of automated processes, minimizing human intervention and reducing the risk of errors. Additionally, the system provided improved post-rollout debugging capabilities through enhanced logging and defined workflow patterns.
  </li>
  <li>
    Leveraging my expertise in Golang, I developed an orchestrator service that manages the deployment strategy for new versions of applications running on Target's private cloud infrastructure in the stores, ensuring seamless and efficient rollouts.
  </li>
</ul>