<ul class="experience-text list-disc">
  <li>
    As a valued member of the cloud and compute team, my responsibilities encompass maintaining the foundational platform that empowers applications across over 1900 store locations within the United States.
  </li>
  <li>
    Drawing on my proficiency in Golang, I crafted an orchestrator service to govern the deployment strategy for novel application versions on Target's exclusive cloud infrastructure in stores. The outcome: flawless and efficient rollouts, ensuring seamless user experiences.
  </li>
  <li>
    In a leadership role, I efficiently managed the image rollout in Target Distribution centers, reducing the timeline from 1.5 months to just two weeks through strategic automation. This streamlined process minimized errors and introduced advanced post-rollout debugging with enhanced logging and precise workflow patterns. Notably, this year, I accomplished the same task within a week.
  </li>
  <li>
    Presently, I am engaged in the development of a novel application platform designed to deploy target applications as virtual machines on servers within Target's retail stores across the US. This initiative will supplant the current Kubernetes platform that Target is currently utilizing.
  </li>
</ul>