<ul class="experience-text list-disc">
  <li>
    As a leader of the development team, I successfully spearheaded the creation
    of the
    <a href="https://www.3gpp.org/dynareport/29522.htm" target="_blank" rel="noopener noreferrer" class="linkStyle">NEF
      (Network Exposure Function)</a>
    5G node on the Control Plane. This Highly Available distributed system,
    built using Golang and featuring the HAProxy load-balancer, is capable of
    handling an impressive 150k REST requests per second.
  </li>
  <li>
    I played a critical role in configuring the system for service discovery
    using Consul and ensuring that all configurations were properly synchronized
    across the platform.
  </li>
  <li>
    With a keen focus on performance optimization, I utilized golang tools such
    as the Pprof profiler and Delve debugger to fine-tune the memory and CPU
    utilization of the NEF services, resulting in significant performance
    improvements.
  </li>
  <li>
    In addition, I implemented the Workerpool pattern to optimize the handling
    of HTTPS requests, leading to substantial performance gains. As part of my
    responsibilities, I also implemented the 5G CP Encryption feature, adding
    HTTP2 over TLS1.2 for golang services in 5G nodes.
  </li>
  <li>
    To ensure smooth coordination among the team, I took on the additional role
    of Scrum Master, overseeing a group of 10 skilled engineers.
  </li>
</ul>