<ul class="list-disc">
    <li>
        I lead the development of the
        <a href="https://www.3gpp.org/dynareport/29522.htm" target="_blank" rel="noopener noreferrer"
            class="linkStyle">NEF
            (Network Exposure Function)</a> 5G
        node on the Control Plane. With the HAProxy load-balancer, this
        Highly Available distributed system written in Golang handles
        over 150k REST
        requests per second.
    </li>
    <li>
        I was instrumental in synchronizing configurations and setting
        up service discovery using Consul.
    </li>
    <li>
        Using golang tools like the Pprof profiler and Delve debugger, I
        was responsible for improving the memory and CPU
        utilization of the NEF services to meet the performance
        requirements.
    </li>
    <li>
        I implemented the Workerpool pattern for handling HTTPS
        requests, which resulted in massive performance gains.I
        Implemented the 5G CP Encryption feature that added HTTP2 over
        TLS1.2 for golang services in 5G nodes.
    </li>
    <li>
        I took up the additional responsibility of Scrum Master for a
        team of 10 engineers.
    </li>
</ul>