<ul class="experience-text list-disc">
  <li>Maintained and enhanced the core cloud and compute platform supporting applications across 1,900+ Target store
    locations in the US.</li>
  <li>Designed and implemented a robust orchestrator service in Golang, enabling seamless and reliable deployment of new
    application versions on Target's proprietary cloud infrastructure.</li>
  <li>Led the automation of image rollouts in Target Distribution Centers, reducing deployment time from 1.5 months to
    two weeks, and further to just one week through continuous process improvement and advanced debugging workflows.
  </li>
  <li>Currently architecting a next-generation application platform to deploy Target applications as containers in
    retail stores, updating the existing Kubernetes-based solution for greater flexibility and performance.</li>
</ul>