<ul class="experience-text list-disc">
  <li>
    I was part of modifying the
    <span class="experience-mark">PacketLogic Linux distro (Pldist)</span> to
    build a new virtual machine image for the <i> Control Plane (CP)</i>
    5G-ready nodes.
  </li>
  <li>
    I was part of enhancing the working efficiency of the
    <a href="https://github.com/krig/koi" target="_blank" rel="noopener noreferrer" class="linkStyle">KOI election
      manager</a>
    in the Highly Available Maestro Policy Engine CP node. Upgraded the KOI
    version to utilize leader elections, which effectively prevents split brains
    in the cluster and effectively handles network cuts between nodes.
  </li>
  <li>
    I played a key role in developing a Golang-based SOAP to REST adapter
    service.
  </li>
</ul>