<!-- Desc -->
<p class="experience-text">
<ul class="list-disc">
    <li>I was part of modifying the <span class="experience-mark">PacketLogic Linux distro
            (Pldist)</span> for <i> Control Plane (CP)</i>
        5G ready nodes.</li>
    <li>Improved the working efficiency of <a href="https://github.com/krig/koi" target="_blank"
            rel="noopener noreferrer" class="linkstyle">KOI election
            manager</a> in
        Highly
        Available Maestro Policy Engine CP node. The new KOI version
        uses Leader
        election, this
        avoids Split brains in cluster and handles network cuts between
        nodes.
    </li>
    <li>Was part of a Golang based SOAP to REST adapter service.</li>
</ul>
</p>