<ul class="experience-text list-disc">
  <li>Led the modernization of Kubernetes infrastructure across 2,000+ Target stores and distribution centers, managing
    over 12,000 VMs at edge locations.</li>
  <li>Championed a Kubernetes-first approach, earning the <a href="https://www.credly.com/badges/113706ee-8f49-49e2-a58f-ef0dc4daa370/public_url" target="_blank" rel="noopener noreferrer" class="linkStyle"> Certified Kubernetes Administrator (CKA)</a> certification in May
    2025 to further strengthen our cloud strategy.</li>
  <li>Consistently make strategic decisions and guide the development team to deliver robust, high-quality software
    solutions for Target’s Cloud and Compute platforms.</li>
  <li>Demonstrated deep expertise in both Kubernetes and hypervisor fundamentals to ensure scalable and reliable
    infrastructure.</li>
</ul>