<div>
    My time at NIT Calicut (NITC) was instrumental in reinforcing the bedrock of my discipline. Through my leadership
    role as an executive in the Computer Science and Engineering Association (CSEA), I became a master at dealing with
    people
    and taking on accountability. As the Treasurer for Fossmeet'19, an esteemed gathering that highlights the virtues of
    Free and Open Source Software, I sharpened my financial acumen and organizational skills. Interacting with an
    eclectic
    mix of brilliant minds at NITC also instilled in me a deep reverence for the value of diversity.
</div>