<ul class="list-disc">
    <li>
        I work on the cloud and compute team, where I am responsible for maintaining the platform infrastructure on which the applications run at over 1900 store locations across the United States.
    </li>
    <li>
        I led the virtual image rollout in the target Distribution centres, reducing a previous 1.5-month rollout period to two weeks. This efficiency boost was achieved by automating routine processes that required human intervention and were prone to errors. Furthermore, this system provided post-rollout debugging via improved logging and defined workflow patterns.
    </li>
    <li>
        Using my learnings in Golang, I implemented an orchestrator service that takes care of the deployment strategy to roll out a new version of an application that runs on Target's private cloud infrastructure in the stores.
    </li>
</ul>
