<div>
    I was part of developing the
    <span class="experience-mark">Freight Management System</span>
    for the Food Corporation of India (FCI) Kerala Region. This project implemented a heuristic algorithm in Python for
    optimal freight transport across warehouses for FCI.
    <br />
    Improved the execution time of the algorithm while porting from MatLab to Python. Developed a web interface using
    Bootstrap and MySQL with Django as the backend for running the algorithm on a client-server architecture.
</div>