<!-- footer -->
<footer class="text-gray-800 body-font mt-auto">
    <div class="bg-gray-100">
        <div class="container px-5 pt-4 pb-2 sm:py-6 mx-auto flex items-center sm:flex-row flex-col justify-between">
            <a class="flex flex-shrink-0 title-font font-medium items-center md:justify-start justify-center text-gray-900"
                href="mailto: anupamasokofficial@gmail.com" target="_blank" rel="noopener noreferrer">
                <ion-icon name="flask" class="bg-gray-800 text-white rounded-full p-2 rotate-45"></ion-icon>
                <span class="ml-2 text-xl">Anupam Asok</span>
            </a>
            <div class="text-md font-light text-gray-500 grid grid-col-1 text-center space-y-4 sm:space-y-1">
                <p class="sm:mt-0 mt-4 sm:mb-2 tracking-wide title-font">“The one who falls and gets up is
                    stronger than the one
                    who never tried”
                    - <em>Roy T. Bennett</em>
                </p>
                <p class="">Made with Tailwind and
                    <ion-icon name="heart-circle-outline" class="text-black translate-y-0.5 text-xl"></ion-icon>.
                </p>

                <div class="text-center">
                    Design Inspired from <a href="https://a-b-h-i-97.github.io/" target="_blank"
                        rel="noopener noreferrer" class="linkStyle">Abhiram
                        Haridas</a>, <a href="http://www.pascalvangemert.nl/" target="_blank" rel="noopener noreferrer"
                        class="linkStyle">Pascal Van Gemert</a>
                    and <a href="http://www.garysheng.com/" target="_blank" rel="noopener noreferrer"
                        class="linkStyle">Gary Sheng</a>.
                </div>
                <div class="w-fit mx-auto longButton text-center font-mono text-sm hover:cursor-pointer">
                    <a href="https://github.com/anupamasok/Portfolio" target="_blank" rel="noopener noreferrer">
                        View Source<ion-icon name="code-slash" class="translate-y-1 sm:text:lg pl-1">
                    </a>
                </div>
            </div>

            <span class="inline-flex sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="footerIcon" href="https://facebook.com/anupam.asok.9" target="_blank"
                    rel="noopener noreferrer">
                    <ion-icon name="logo-facebook" class="text-2xl"></ion-icon>
                </a>
                <a class="ml-3 footerIcon" href="https://twitter.com/asokanupam" target="_blank"
                    rel="noopener noreferrer">
                    <ion-icon name="logo-twitter" class="text-2xl"></ion-icon>
                </a>
                <a class="ml-3 footerIcon" href="http://www.instagram.com/anupam.asok/" target="_blank"
                    rel="noopener noreferrer">
                    <ion-icon name="logo-instagram" class="text-2xl"></ion-icon>
                </a>
                <a class="ml-3 footerIcon" href="https://www.linkedin.com/in/anupamasok/" target="_blank"
                    rel="noopener noreferrer">
                    <ion-icon name="logo-linkedin" class="text-2xl"></ion-icon>
                </a>
            </span>

        </div>
    </div>
</footer>