<!-- Desc -->
<p class="experience-text">During my years at NIT Calicut (NITC), I
    strengthened the fundamentals of the discipline. My tenure as an
    executive in Computer Science and Engineering Association (CSEA) made me a people
    person, and I transformed myself to handle
    responsibility. I was the Treasurer for Fossmeet'19, an annual event
    to celebrate Free and Open source software. I met
    many talented people at NITC and soon realized to respect the
    diverse backgrounds we came from.
</p>