---
layout: 'layouts/base.njk'
---

<div>
    {% include 'sections/landing.html'%}
    {% include 'sections/about.html'%}
    {% include 'sections/experiences/experiences.njk'%}
    {% include 'sections/skills.html'%}
    {% include 'sections/photography.njk'%}
    {% include 'sections/connect.html'%}
</div>