<!-- footer -->
<footer class="body-font mt-auto text-gray-800">
  <div class="bg-gray-100">
    <div class="container mx-auto flex flex-col items-center justify-between px-5 pt-4 pb-2 sm:flex-row sm:py-6">
      <a class="title-font flex flex-shrink-0 items-center justify-center font-medium text-gray-900 md:justify-start" href="mailto: anupamasokofficial@gmail.com" target="_blank" rel="noopener noreferrer">
        <ion-icon name="flask" class="rotate-45 rounded-full bg-gray-800 p-2 text-white"></ion-icon>
        <span class="ml-2 text-xl">Anupam Asok</span>
      </a>
      <div class="text-md grid-col-1 grid space-y-4 text-center font-light text-gray-500 sm:space-y-1">
        <p class="title-font mt-4 tracking-wide sm:mt-0 sm:mb-2">
          “The one who falls and gets up is stronger than the one who never tried” -
          <em>Roy T. Bennett</em>
        </p>
        <p >
          Made with Tailwind and
          <ion-icon name="heart-circle-outline" class="translate-y-0.5 text-xl text-black"></ion-icon >.
        </p>

        <div class="text-center">
          Design Inspired from
          <a href="https://a-b-h-i-97.github.io/" target="_blank" rel="noopener noreferrer" class="linkStyle">Abhiram Haridas</a >,
          <a href="https://www.pascalvangemert.nl/" target="_blank" rel="noopener noreferrer" class="linkStyle">Pascal Van Gemert</a >
          and
          <a href="https://www.garysheng.com/" target="_blank" rel="noopener noreferrer" class="linkStyle">Gary Sheng</a >.
        </div>
        <div class="linkStyle mx-auto w-fit px-2 text-center text-sm hover:cursor-pointer">
          <a href="https://github.com/anupamasok/Portfolio" target="_blank" rel="noopener noreferrer">
            View Source
            <ion-icon name="code-slash" class="sm:text:lg translate-y-1 pl-1"></ion-icon>
          </a>
        </div>
      </div>

      <span class="mt-4 inline-flex justify-center sm:mt-0 sm:justify-start">
        <a class="footerIcon" href="https://facebook.com/anupam.asok.9" target="_blank" rel="noopener noreferrer">
          <ion-icon name="logo-facebook" class="text-2xl"></ion-icon>
        </a>
        <a class="footerIcon ml-3" href="https://twitter.com/asokanupam" target="_blank" rel="noopener noreferrer">
          <ion-icon name="logo-twitter" class="text-2xl"></ion-icon>
        </a>
        <a class="footerIcon ml-3" href="https://www.instagram.com/anupam.asok/" target="_blank" rel="noopener noreferrer">
          <ion-icon name="logo-instagram" class="text-2xl"></ion-icon>
        </a>
        <a class="footerIcon ml-3" href="https://www.linkedin.com/in/anupamasok/" target="_blank" rel="noopener noreferrer">
          <ion-icon name="logo-linkedin" class="text-2xl"></ion-icon>
        </a>
      </span>
    </div>
  </div>
</footer>